<!--pages/changeUsername/changeUsername.wxml-->
<view>
  <van-nav-bar
  title="更改姓名"
  left-text="取消"
  left-arrow
  safe-area-inset-top="{{ false }}"
  bind:click-left="onClickLeft"
  bind:click-right="onChangeUsername"
  >
  <van-button type="info" slot="right" size="small">保存</van-button>
  </van-nav-bar>
  <van-cell-group>
    <van-field
    model:value="{{ username }}"
    label="姓名"
  />
  </van-cell-group>
  <van-dialog id="van-dialog"/>
  <van-toast id="van-toast" />
</view>